## 1.WAP to create a tuple

In [1]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

## 2.WAP to create a tuple with different datatypes

In [2]:
t1 = (1,"a",2.0,"Hello")
print(t1)

(1, 'a', 2.0, 'Hello')

## 3.WAP to create a tuple with numbers and print one item

In [3]:
t1 = (1,2,3,4,5)
t2 = list(t1)
print(t2[4])

5

## 4.WAP to unpack a tuple in several variables

In [4]:
t1 = (1,2,3)
t2 = list(t1)
x = t2[0]
y = t2[1]
z = t2[2]
print(x, y, z)

1 2 3

## 5.WAP to add an item in a tuple

In [5]:
t1 = (1,2,3)
t2 = list(t1)
t2.append(4)
print(t2)

[1, 2, 3, 4]

## 6.WAP to convert a tuple to string

In [9]:
t1 = ("a","b","c")
t2 = list(t1)
t2 = t2[0]+t2[1]+t2[2]
print(t2)

abc

## 7.WAP to get the 4th element from first and last of the tuple

In [10]:
t1 = (1,2,3,4,5,6,7,8,9,10)
t2 = list(t1)
print(t2[3])
print(t2[-4])

4
7

## 9.WAP to find the repeated items in the tuple

In [ ]:
t1 = (1,2,3,2,5,6,2)
t2 = list(t1)
if(t2[i]==t2[i+1]):
    print(i)

## 10. WAP to check whether an element exists in the tuple

In [ ]:
t1 = (1,2,3,4,5)
5 in t1

## 11. WAP to convert a list to a tuple

In [2]:
list1 = [1,2,3,4,5]
tup1 = tuple(list1)
print(tup1)

(1, 2, 3, 4, 5)

## 12. WAP to remove an item from a tuple

In [6]:
tup1 = ("a","b","c","d")
list1 = list(tup1)
list1.remove("c")
print(list1)

['a', 'b', 'd']

## 13. WAP to slice a tuple

In [9]:
tup = (1,2,3)
print(tup[:])

(1, 2, 3)

## 14. WAP to find the index of an item of the tuple

In [10]:
tup = (1,2,3,4,5)
print(tup.index(3))

2

## 15. WAP to find the length of the tuple

In [14]:
tup = (1,2,3,4,5)
print(len(tup))

5

## 16.WAP to reverse the tuple

In [24]:
tup = (1,2,3)
tup1 = tuple(reversed(tup))
print(tup1)

(3, 2, 1)

## 1,WAP to sum all the elements in the list

In [25]:
list1 = [1,1,2,5,7,8,4]
print(sum(list1))

28

## 2.WAP to multiply all the elements in the list

In [31]:
list1 = [1,2,3,4,5,6,7,8]
list2 = 1
for i in list1:
    list2 = list2*i
print(list2)

40320

## 3. WAP to get the largest element of the list

In [32]:
list1 = [10,7,13,18,30,74]
print(max(list1))

74

## 4. WAP to get the smallest element of the list

In [33]:
list1 = [15,17,20,30,24,1]
print(min(list1))

1

## 5.WAP to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
### Sample list:['abc','xyz','aba','1221']
### Expected result: 2

In [4]:
flag = 0
list1 = ['abc','xyz','aba','1221']
for i in list1:
    if(len(i)>2 and  i[0] == i[-1]):
        flag+=1
print(flag)

2

## 6. WAP to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
### Sample list: [(2,5),(1,2),(4,4),(2,3),(2,1)]
### Expected output: [(2,1),(1,2),(2,3),(4,4),(2,5)]

In [2]:
def last(n): return n[-1]

def sort_list1(tuples):
  return sorted(tuples, key=last)
print(sort_list1([(2,5),(1,2),(4,4),(2,3),(2,1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

## 7. WAP to remove duplicates from a list

In [119]:
list1 = [1,2,3,4,1,2,6,7,3]
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 6, 7}

## 8.WAP to check list is empty or not

In [7]:
list1 = []
if(len(list1)==0):
    print("list is empty")
else:
    print(list1)

list is empty

## 9.WAP to clone a list

In [8]:
list1 = [1,2,3]
list2 = list1
print(list2)

[1, 2, 3]

## 10.WAP to find the list of words that are longer than n from a given list of words

In [17]:
list1 = ["hello","hi","how","are","everyone"]
n = 3
for i in list1:
    if(len(i)>n):
        print(i)

hello
everyone