## 1. Create an empty dictionary

In [2]:
d = {}
print(d)

{}

## 2. Create the following dictionary
### Key: A, B
### Value: 10,20

In [4]:
d = {'A':10,'B':20}
print(d)

{'A': 10, 'B': 20}

## 3. Create a dictionary with different datatypes for keys

In [7]:
d = {1,2.0,'A',"Hello"}
print(d)

{1, 2.0, 'A', 'Hello'}

## 4. Print all the items of dictionary

In [12]:
d = {1:2.0,'A':"Hello"}
print(d)

{1: 2.0, 'A': 'Hello'}

## 5. Delete an item of the dictionary

In [14]:
d = {1:"one", 2:"two", 3:"three"}
del(d[1])
print(d)

{2: 'two', 3: 'three'}

## 6. Delete full dictionary

In [17]:
d = {1:5, 2:10}
del(d)

## 7. Print a value for a key

In [18]:
d = {1:"one", 2:"two", 3:"three"}
print(d[1])

one

## 8. To check if a key is present in a dictionary

In [20]:
d = {1:"one", 2:"two", 3:"three"}
print(1 in d)

True

## 9. Update a value of a key

In [22]:
d = {"A":3, "B":6, "C":9}
d["B"] = 10
print(d)

{'A': 3, 'B': 10, 'C': 9}

## 10. Add a new key value pair

In [24]:
d = {"A":10, "B":20, "C":30}
d["D"] = 40
print(d)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

## 11. Print dictionary for keys{1,10} and values as square of keys

In [26]:
d={} 
for i in range(1,11): 
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## 12. Print nested dictionary

In [27]:
d = {"A":{1:"one",2:"two"}}
print(d)

{'A': {1: 'one', 2: 'two'}}

## 13. Concatenate three dictionaries
### Sample Dictionary : 
### dic1={1:10, 2:20} 
### dic2={3:30, 4:40} 
### dic3={5:50,6:60} 
### Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [53]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {**dic1, **dic2, **dic3}
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## 14.Sum all the values of a dictionary

In [56]:
sum = 0
d = {1:5, 2:10, 3:15}
for i in d:
    sum =sum+d[i]
print(sum)

30

## 15. Accessing an element of a nested dictionary

In [58]:
d = {1:{"A":1,"B":2}}
print(d[1]["B"])

2

## 16. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys. 

### Sample Dictionary 
### {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [60]:
d = {}
for i in range(1,16): 
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

## 17. Insert factorial of keys in values. And print dictionary

In [82]:
fact = 1
d = {}
for i in range(1,11):
    fact=fact*i
    print(fact)

1
2
6
24
120
720
5040
40320
362880
3628800

## 1. WAP to create a set

In [85]:
set1 = {1,2,1,3,4,2}
print(set1)

{1, 2, 3, 4}

## 2. WAP to add an element to the set

In [86]:
set1 = {1,2,1,3,4,2}
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

## 3. WAP to add multiple items using update function

In [97]:
set1 = {1,2,1,3,4,2}
set2 = {"a","b","c"}
set1.update(set2)
print(set1)

{'a', 1, 2, 3, 4, 'b', 'c'}

## 4. WAP to find length of a set

In [98]:
set1 = {1,2,1,3,4,2}
print(len(set1))

4

## 5. WAP to remove value from a set

In [104]:
set1 = {"a","b","c"}
set1.remove("c")
print(set1)

{'a', 'b'}

## 6. WAP to pop an element from the set

In [105]:
set1 = {"a","b","c"}
set1.pop()
print(set1)

{'b', 'c'}

## 7. WAP to update a set

In [107]:
set1 = {1,2,3,4,5}
set2 = {10,20,30}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 10, 20, 30}

## 8. WAP to create an intersection of sets

In [109]:
set1 = {1,2,3}
set2 = {2,4,6}
print(set1.intersection(set2))

{2}

## 9. WAP to create union of sets

In [114]:
set1 = {1,2,3}
set2 = {2,4,6}
print(set1.union(set2))

{1, 2, 3, 4, 6}

## 10. WAP to clear a set

In [113]:
set1 = {1,2,3}
set1.clear()
print(set1)

set()

## 11. WAP to issubset and issuperset

In [116]:
set1 = {"a","b","c","d","e"}
set2 = {"c","d"}
set3 = set1.issubset(set2)
print(set3)
set4 = set1.issuperset(set2)
print(set4)

False
True

## 12. WAP to create set difference

In [122]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
print(set2-set1)

set()

## 13. WAP to create a symmetric difference

In [120]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
print(set2^set1)

{4, 5}